@import '_variables.scss';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}

.about_header {
  background-color: #343a51;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .about_header_img {
    width: 80%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.568));
  }

  .about_header_title {
    font-weight: 700;
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
  }

  .about_header_subtitle {
    color: white;
    font-size: 1rem;
    margin-bottom: 4rem;
  }
}

.who_we_are {
  width: 80%;
  display: grid;
  grid-template-rows: 4rem repeat(12, auto) 4rem;
  grid-row-gap: 2rem;
  &::before {
    content: '';
  }
  .profile_title {
    color: $color-darkest;
    font-weight: 700;
    font-size: 2rem;
  }

  .info {
    font-weight: 300;
    color: $color-darkest;
    line-height: 1.2rem;

    .info_highlighted {
      font-weight: 400;
      font-size: 1.1rem;
    }
  }
}
