@import '_variables.scss';

.who_we_are {
  width: 80%;
  display: grid;
  grid-template-rows: 4rem repeat(12, auto) 4rem;
  grid-row-gap: 2rem;
  &::before {
    content: '';
  }
  .profile_title {
    color: $color-darkest;
    font-weight: 700;
    font-size: 2rem;
  }

  .info {
    font-weight: 300;
    color: $color-darkest;
    line-height: 1.2rem;

    .info_highlighted {
      font-weight: 400;
      font-size: 1.1rem;
    }
  }
}
