@import '_variables.scss';
.contact_us_info_container {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  .contact_us_info_list {
    margin: 4rem 0;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      margin: 2rem 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: clamp(1.2rem, 3vw, 1.4rem);

        color: $color-darkest;
        font-weight: 300;
        strong {
          color: black;
          margin-right: 0.5rem;
          font-weight: 400;
        }
      }

      img {
        margin: 1rem 0;
        height: 6rem;
      }
    }
  }
}

.contact_form_container {
  // max-width: 800px;
  margin: 4rem 0;
  .contact_form {
    background: white;
    display: flex;
    width: 90vw;
    max-width: 800px;
    flex-direction: column;

    .contact_form_title {
      width: 100%;
      font-size: clamp(2.5rem, 5vw, 2.7rem);
      font-weight: 200;
      margin-bottom: 2rem;
    }

    .form_group {
      width: 100%;
      align-self: center;
      display: flex;
      flex-direction: column;

      label {
        font-size: clamp(1rem, 2vw, 1.2rem);

        margin-bottom: 0.5rem;
        color: $color-darkest;
      }
      input,
      textarea {
        &::placeholder {
          font-weight: 300;
        }
        margin-bottom: 1rem;
        height: 1rem;
        padding: 1rem;
        font-size: clamp(1.2rem, 3vw, 1.4rem);
      }

      textarea {
        height: 4rem;
        font-size: clamp(1.3rem, 4vw, 1.5rem);
        font-family: 'Poppins', sans-serif;
      }
    }
  }
}

.contact_map {
  max-width: 50rem;
  width: 95%;
  height: 24rem;
}
