@import '_variables.scss';

.nav_container {
  height: 4rem;
  width: 100%;
}

.container {
  // overflow-x: auto;
  position: relative;
  // overflow-y: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.carousel_container {
  height: 80vw;
  max-height: 43.75rem;
  width: 100%;
  filter: drop-shadow(0 0 10px #0003);

  @media (min-width: 81rem) {
    & {
      max-height: 52rem;
    }
  }
}

.carousel_img {
  background-position: center;
  background-size: cover;
  counter-increment: item;
  height: 100%;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
.carousel__hero_cont {
  filter: drop-shadow(0 0 10px #0003);
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2fr repeat(3, 1fr) 2fr;
  position: absolute;
  top: 0;
  left: 0;

  .hero_cont__sub_headline {
    color: #545e83;
    align-self: end;
    font-size: clamp(1.2rem, 3vw, 5rem);
    padding-bottom: 0.5rem;
    grid-area: 2 / 2 / span 1 / span 7;
  }
  .hero_cont__headline {
    align-self: center;
    color: #31374e;
    font-weight: 700;
    font-size: clamp(2.2rem, 5vw, 8rem);
    grid-area: 3 / 2 / span 1 / span 8;
  }
}

.hero_cont__headline_cta {
  position: absolute;
  bottom: 10vh;
  left: 10vw;
  z-index: 101;
}
.intro_contaner_margin {
  background-color: $bg-color-darkest;
  width: 100%;
  display: flex;
  justify-content: center;
}

.introduction_cont {
  position: relative;
  p {
    line-height: 1.5rem;
  }
  max-width: 56.25rem;
  height: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1rem repeat(4, auto) 1rem;
  justify-items: center;
  grid-row-gap: 2.5rem;

  .intoduction_who_we_are,
  .intoduction_what_we_do,
  .intoduction_services {
    width: 80%;
    height: auto;
    display: grid;

    grid-row-gap: 1rem;
    border-radius: 0.5rem;
    max-width: 25rem;
    max-height: 370px;
  }

  .intoduction_who_we_are {
    background-color: white;
    grid-area: 2 / 1 / span 1 / -1;

    grid-template-rows: 2rem repeat(4, auto) 2rem;
    grid-template-columns: 20px 8fr 20px;
    border-radius: 0.5rem;
    color: $color-darkest;
    .who_we_are__icon {
      height: 3rem;
      align-self: center;
      justify-self: center;
      grid-area: 2 / 2;
    }
    .who_we_are__heading {
      align-self: center;
      font-size: clamp(2rem, 4vw, 2.2rem);
      font-weight: 700;
      grid-area: 3 / 2;
    }
    .who_we_are__information {
      font-size: clamp(1rem, 3vw, 1.2rem);
      font-weight: 300;
      grid-area: 4 / 2;
    }
    .who_we_are__cta {
      align-self: flex-end;
      justify-self: center;
      grid-area: 5 / 2;
    }
  }

  .intoduction_what_we_do {
    grid-area: 3 / 1 / span 1 / -1;
    background-color: #017d9b;
    grid-template-rows: 2rem repeat(4, auto) 2rem;
    grid-template-columns: 20px 8fr 20px;

    .who_we_do__icon {
      align-self: center;
      justify-self: center;
      grid-area: 2 / 2;
    }
    .who_we_do__heading {
      color: white;
      align-self: center;

      font-size: clamp(2rem, 4vw, 2.2rem);
      font-weight: 700;
      grid-area: 3 / 2;
    }

    .who_we_do__information {
      font-size: clamp(1rem, 3vw, 1.2rem);
      font-weight: 300;
      color: white;
      grid-area: 4 / 2;
    }

    button {
      justify-self: center;
      grid-area: 5 / 2;
    }
  }

  .intoduction_services {
    grid-area: 4 / 1 / span 1 / -1;
    display: grid;
    grid-template-rows: 2rem repeat(4, auto) 2rem;
    grid-template-columns: 20px 8fr 20px;

    background-color: #00c9d1;
    .services__icon {
      align-self: center;
      justify-self: center;
      grid-area: 2 / 2;
    }
    .services__heading {
      font-size: clamp(2rem, 4vw, 2.2rem);
      color: #393939;
      align-self: center;
      font-size: 2rem;
      font-weight: 700;
      grid-area: 3 / 2;
    }

    .services__information {
      font-size: clamp(1rem, 3vw, 1.2rem);
      color: #393939;
      font-weight: 300;
      grid-area: 4 / 2;
    }
    button {
      justify-self: center;
      grid-area: 5 / 2;
    }
  }
}

@media (min-width: 50rem) {
  .intoduction_who_we_are,
  .intoduction_services {
    justify-self: flex-start;
    margin-left: 4rem;
  }
  .intoduction_what_we_do {
    justify-self: flex-end;
    margin-right: 4rem;
  }
}

@media (min-width: 81rem) {
  .introduction_cont {
    max-width: 100%;
    max-width: 1430px;
    grid-template-rows: 4rem 40px auto 40px auto 4rem;
    grid-row-gap: 10rem;
    .intoduction_who_we_are {
      max-height: 400px;
      justify-self: center;
      margin-left: 0;
      grid-area: 2 / 5 / span 2 / span 4;
    }

    .intoduction_what_we_do {
      // align-self: flex-start;
      max-height: 400px;
      justify-self: flex-start;
      margin-right: 0;
      margin-left: 4rem;
      grid-area: 3/ 1 / span 2 / span 4;
    }

    .intoduction_services {
      max-height: 400px;
      justify-self: flex-end;
      margin-left: 0;
      grid-area: 3/ 9 / span 2 / span 4;
      margin-right: 4rem;
    }
  }
}

.iso_section {
  width: 100%;
  height: auto;
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  perspective: 100px;
  background-color: white;
  .iso_list {
    filter: drop-shadow(0 0 10px #00000031);
    display: grid;
    grid-gap: 2.2rem;
    height: auto;
    grid-template-columns: 10px repeat(8, 20rem) 10px;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    margin: 5rem 0;
    // &::-webkit-scrollbar {
    //   display: none;
    //   background-color: ;
    // }
    &:before,
    &:after {
      content: '';
    }

    .scrolling-wrapper-flexbox {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;

      .card {
        flex: 0 0 auto;
      }
    }

    .iso_container {
      scroll-snap-align: center;
      border-radius: 0.5rem;
      background-color: #343a51;
      height: auto;
      grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
      grid-template-rows: 1fr auto auto auto auto 1fr;
      display: grid;
      color: white;

      .iso_title {
        font-family: 'Teko', sans-serif;
        color: white;

        font-weight: 700;
        justify-self: center;
        font-size: 2.2rem;
        margin: 1rem 0;
        grid-area: 2 / 2 / span 1 / span 3;
      }
      .iso_sub_title {
        line-height: 1.5rem;
        grid-area: 3 / 2 / span 1 / span 3;
        font-weight: 300;
        margin: 1rem 0;
      }

      .iso_link {
        margin: 1rem 0;
        justify-self: center;
        text-decoration: underline;
        grid-area: 4 / 2 / span 1 / span 3;

        &:hover,
        &:active,
        &:focus {
          color: $color-darkest;
        }
      }
      .iso_img {
        border-radius: 0 0 0.5rem 0.5rem;
        grid-area: 5 / 1 / span 1 / span 5;
        width: 100%;
        height: auto;
        max-height: 12rem;
      }
    }
  }
}

.main_footer {
  padding-bottom: 4rem;
  padding-top: 4rem;
  height: auto;
  width: 100vw;
  background-color: $color-darkest;
  display: grid;
  grid-template-columns: 10px 10px 1fr 10px 10px;
  grid-template-rows: repeat(11, auto);
  .svg_logo_nav {
    height: 8rem;
    width: 8rem;
    border: 2px solid white;
    border-radius: 50%;
    grid-area: 1 /2 / span 1 / span 2;
  }
  .about_footer {
    padding-right: 8rem;
    margin-top: 1rem;
    color: white;
    font-weight: 300;
    line-height: 2rem;
    grid-area: 2 /3 / span 1 / span 1;
  }
  .footer_title {
    color: white;
    margin: 1.2rem 0;
    align-self: center;
    font-size: 1.7rem;
    grid-column: 2 / span 2;
    &:first-of-type {
      grid-row: 3 / span 1;
    }

    &:nth-of-type(2) {
      grid-row: 5 / span 1;
    }
    &:nth-of-type(3) {
      grid-row: 7 / span 1;
    }
    &:nth-of-type(4) {
      grid-row: 9 / span 1;
    }
  }
  .footer_title__links {
    color: rgba(255, 255, 255, 0.822);
    font-weight: 300;
    align-self: center;
    font-size: 1rem;
    grid-column: 3 / span 1;
    &:first-of-type {
      grid-row: 4 / span 1;
    }
    &:nth-of-type(2) {
      grid-row: 6 / span 1;
    }
    &:nth-of-type(3) {
      grid-row: 8 / span 1;
    }
    &:nth-of-type(4) {
      grid-row: 10 / span 1;
    }

    .footer_title__link {
      margin: 1rem 0;
    }
  }
  .copy_rights {
    margin-top: 1.2rem;
    color: white;
    align-self: center;
    font-weight: 300;
    grid-column: 3 / span 1;
    grid-row: 11 / span 1;
  }

  @media (min-width: 50rem) {
    & {
      grid-template-columns: 20px 20px 1fr 20px 1fr 20px;

      .footer_title {
        &:nth-of-type(3) {
          grid-area: 1 / 4 / span 1 / span 2;
        }

        &:nth-of-type(4) {
          grid-area: 3 / 4 / span 1 / span 2;
        }
      }

      .footer_title__links {
        align-self: flex-start;
        &:nth-of-type(3) {
          grid-area: 2 / 5;
        }

        &:nth-of-type(4) {
          grid-area: 4 / 5;
        }
      }

      .copy_rights {
        justify-self: center;
        grid-area: 7 / 3 / span 1 / span 3;
      }
    }
  }

  @media (min-width: 81rem) {
    & {
      grid-template-columns: 4rem 20px 1fr 20px 1fr 20px 1fr 4rem;
      .footer_title {
        &:nth-of-type(2) {
          grid-area: 1 / 6 / span 1 / span 2;
        }
        &:nth-of-type(4) {
          grid-area: 3 / 3 / span 1 / span 2;
        }
        &:nth-of-type(1) {
          grid-area: 3 / 4 / span 1 / span 2;
        }
      }

      .footer_title__links {
        &:nth-of-type(2) {
          grid-area: 2 / 7 / span 1 / span 2;
        }

        &:nth-of-type(1) {
          grid-area: 4 / 4 / span 1 / span 2;
        }
        &:nth-of-type(4) {
          grid-area: 4 / 3 / span 1 / span 2;
        }
      }
      .copy_rights {
        justify-self: center;
        grid-area: 5 / 3 / span 1 / span 5;
      }
    }
  }
}
