.nav_container {
  height: 4rem;
  width: 100%;
}

.container {
  // overflow-y: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.intoduction_cont {
  overflow-x: hidden;
  width: 100%;
  height: 90vh;
}

.carousel_container {
  height: 60vh;
  width: 100%;
  filter: drop-shadow(0 0 10px #0003);
}

.carousel_img {
  background-position: center;
  background-size: cover;
  counter-increment: item;
  height: 100%;

  .carousel__hero_cont {
    filter: drop-shadow(0 0 10px #0003);
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr 1fr 1fr 1fr 2fr;

    .hero_cont__sub_headline {
      color: #31374e73;
      align-self: end;
      font-size: clamp(1.2rem, 3vw, 5rem);
      padding-bottom: 0.5rem;
      grid-area: 2 / 2 / span 1 / span 7;
    }
    .hero_cont__headline {
      align-self: center;
      color: #31374e;
      font-weight: 700;
      font-size: clamp(2.2rem, 5vw, 8rem);
      grid-area: 3 / 2 / span 1 / span 8;
    }

    .hero_cont__headline_cta {
      grid-area: 4 / 2 / span 1 / span 3;
      align-self: center;
      z-index: 2;
    }
  }
}
