@import '_variables.scss';

.mobile_nav {
  background-color: white;
  visibility: visible;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 20;
  height: 4rem;
  width: 100%;
  box-shadow: 1px 2px 1px rgba(128, 128, 128, 0.459);

  svg {
    margin-left: 1rem;
  }
  h5 {
    margin-left: 2px;
    color: #3c58cb;
    font-style: italic;
    font-size: 0.7rem;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.521);
  }

  .mobile_nav_checkbox {
    position: absolute;
    right: 0.7rem;
    cursor: pointer;
    z-index: 2;
    width: 3.2rem;
    height: 3.2rem;
    opacity: 0;

    z-index: 13;

    &:checked + .mobile_nav_humberger > div {
      transform: rotate(135deg);
      width: 2rem;
      &:before,
      &::after {
        width: 2rem;
        top: 0;
        transform: rotate(90deg);
      }
    }

    &:checked:hover + .mobile_nav_humberger > div {
      transform: rotate(225deg);
    }

    &:checked ~ .mobile_nav_link_container {
      visibility: visible;

      & > div > div {
        transform: translateX(0);
      }
    }
  }

  .mobile_nav_humberger {
    position: absolute;
    z-index: 12;
    top: 5px;
    width: 3rem;
    height: 3rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      border-radius: 5rem;
      position: relative;
      width: 2rem;

      height: 2.5px;
      background-color: $color-darkest;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;

      &::before,
      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 2rem;
        height: 2.5px;
        background: inherit;
        border-radius: 5rem;
      }

      &::after {
        // width: 2.5rem;
        top: 10px;
      }
    }
  }

  .mobile_nav_link_container {
    top: 4rem;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 0.2s ease;
    z-index: 10;

    & > div {
      background: #10295f44;

      width: 200vw;
      height: 200vh;
      & > div {
        position: absolute;

        background: $color-darkest;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50vw;
        height: 200vh;
        transform: translateX(-100%);
        transition: all 0.2s ease;
        flex-direction: column;
        ul {
          width: 100%;
          margin-top: 55vh;
          @extend %reset-padding-margin;
          list-style: none;
          overflow: hidden;
          display: flex;
          flex-direction: column;

          li {
            font-family: 'Exo 2', sans-serif;
            font-weight: 700;
            font-size: 0.9rem;
            border-top: 1px solid #ffffff33;
            padding: 0.8rem 0;
            .mobile_nav__list_cont {
              width: 100%;
              display: flex;
              height: 2rem;
              align-items: center;
              justify-content: flex-start;
              p {
                margin-left: 0.5rem;
                text-decoration: none;
                color: white;
              }
            }
            &:first-of-type {
              border-top: none;
            }
            &:hover,
            &:focus,
            &:active {
              cursor: pointer;
              text-shadow: 1px 1px 0.5px rgba(80, 80, 83, 0.63);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 81rem) {
  // mobile_nav:
}

@keyframes mobile_nav_hide {
}
