@import '_variables.scss';

.header {
  background-color: #343a51;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: relative;
  .header_img {
    width: 80%;
    max-width: 45rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.568));
  }

  .header_title {
    z-index: 2;
    font-weight: 700;
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
  }

  .header_subtitle {
    z-index: 2;
    color: white;
    font-size: 1rem;
    margin-bottom: 4rem;
  }
}

.header_img_iso {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  max-width: 57.875rem;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.568)) blur(1px);
}

.header_iso {
  min-height: 22rem;
  height: 100vw;
  max-height: 57.875rem;
}
