@import '_variables.scss';

.services_info_cont {
  height: auto;
  width: 80%;
  background-color: white;
  display: grid;
  padding: 2rem 0;
  .services_title {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem 0;
  }

  .information {
    color: $color-darkest;
    font-weight: 300;
    line-height: 1.5rem;
  }
}

.service_list_container {
  margin-top: 4rem;
  width: 100%;
  height: auto;

  .service_list_header {
    font-weight: 300;
    font-size: 2rem;
    margin-left: 20px;
    margin-bottom: 2rem;
  }
  .sevices_list {
    filter: drop-shadow(0 0 10px #00000042);
    display: grid;
    grid-gap: 2.2rem;
    height: auto;
    grid-template-columns: 10px repeat(4, 20rem) 10px;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    margin-bottom: 4rem;
    &:before,
    &:after {
      content: '';
    }
    .service_container {
      border-radius: 0.5rem;
      background-color: $color-darkest;
      display: grid;
      grid-template-columns: 20px auto 20px;
      grid-template-rows: 10px repeat(3, auto) 10px;
      grid-row-gap: 2rem;
      .sevices_title {
        font-family: 'Exo', sans-serif;
        color: white;
        justify-self: center;
        font-size: 2rem;
        font-weight: 700;
        grid-area: 2 / 2;
      }
      .sevices_info {
        color: white;
        font-weight: 300;
        line-height: 1.5rem;
        grid-area: 3 / 2;
      }
      .sevices_read_more {
        justify-self: center;
        border: 1px solid white;
        grid-area: 4 / 2;
      }
    }
  }
}

.iso_p {
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 400;
}
